  <nav>
    <div class="nav-wrapper baby blue">
      <a href="#" class="brand-logo">Howler</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Login with Twitter</a></li>
      </ul>
    </div>
  </nav>